<!DOCTYPE html>

{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock%}

{% block body_block %}
	{% if user.is_authenticated %}
	<h2>Hello there, {{ user.username }}! Welcome back</h2>
	{% else %}
	<h2>Ho there friend!</h2>
	{% endif %}
	
	<h2> Top Categories:</h2>
	
	{% if categories %}
		<ul>
			{% for category in categories %}
			<li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no categories present m8</strong>
	{% endif %}
	
	<h2>Top Pages:</h2>
	
	{% if pages %}
		<ul>
			{% for page in pages %}
			<li><a href="rango/page/{{ page.url}}">{{ page.title }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no pages present, sorry about that.</strong>
	{% endif %}
	
{% endblock %}
